*{
    padding: 0px; 
    margin: 0px;
    box-sizing: content-box;
}


body{
    width: 100%;

}

header{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d9dcdf7e;
}
nav{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #B8B8B8;
}

.logo{
    width: 10vw;
    height: 7vh;
    background-image: url("/Public/images/LogoNav.png");
    background-repeat: no-repeat;
    background-size:contain;
    
}


.logo:hover{
    cursor: pointer;
    transition: all 1s ease 0s;
    background-image: url("/Public/images/LogoNavHover.png");
    background-repeat: no-repeat;
    background-size:contain;
 }
 


:where(.links) :is(a){
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #807c7c;
    border: 0px;
    border-radius: 5px;
    padding: 0.4rem;
    margin: 1rem;
}

:where(.links) :is(a:hover){
    background-color: #e4dfdf;
   
}


.sectionOne{
    height: 90vh;
    background-color: #d9dcdf7e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

:where(.hero) :is(img){
    width: 20vw;
}

:where(.heroText) :is(h2){
    font-family: calibri;
    font-weight: 400;
    font-size: 1.5rem;
    color: #8b8888;
    padding: 1rem;
}

.heroLink{
    margin: 1.5rem;
}

.heroLink a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    width: 25vw;
}

.heroLink a img{
    width: 3vw;
    height: 5vh;
}

.heroLink a h1{
    color: rgba(6, 6, 49, 0.596);
}


/* This where the styling for section two start*/

.sectionTwo{
    height: 80vh;
    background-color: rgba(240, 241, 241, 0.87);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.imagePresentation{
    height: 80vh;
    width: 100%;
    background-image: url("/Public/images/layerOne.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: top right ;
}

/* This where the styling for section Three start*/

.sectionThree{
    background-color: rgba(240, 241, 241, 0.61);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}



:where(.sectionThreeTextHead) {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

:where(.sectionThreeTextHead) :is(h1) {
    padding: 1rem;
    font-size: 2.3rem;
    font-family: calibri;
    letter-spacing: 0.3rem;
    
}

:where(.sectionThreeText) :is(h2){
    font-family: calibri;
    font-weight: 400;
    font-size: 1.5rem;
    color: #615e5e;
    padding: 1rem;
}

:where(.sectionThreeText) :is(a){
   color: rgb(39, 75, 122);
   text-decoration: none;
   font-family:monospace;
   font-weight: 400;
   font-size: 1.5rem;
   font-weight: 700;
   padding-left: 12vw;
   
}


:where(.sectionThreeImage){
    background-image: url("/Public/images/whatsnew-collage-io60.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 160vh;
    width: 80vw;
}

:where(.sectionThreeImage){
    margin-top: 10vh;
}

/* This where the styling for section Four start*/

.sectionFour{
    background-color: rgba(181, 206, 221, 0.233);
    height: 110vh;
}

:where(.sectionFourHeader){
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
}

:where(.sectionFourHeader) :is(h1){
    font-size: 2.5rem;
    padding: 0.5rem;
    font-family: calibri;
    color: #2b2929;

}

:where(.sectionFourHeader) :is(img){
   width: 5vw;
   height: 10vh;

}

:where(.sectionFourText) :is(h1){
    font-family: calibri;
    font-weight: 400;
    font-size: 1.5rem;
    color: #615e5e;
    padding: 1rem;
    text-align: center;
}

:where(.mainContainer){
    width: 100%;
    height: 60vh;
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 10vw 1fr 1fr 1fr 10vw;
    gap: 2rem;
}

.containerEmpty{
    grid-column:span 1;

}

.containerOne, .containerTwo, .containerThree{
    grid-column:span 1;
    border-radius: 10px;
    background-color: #b8b8b846;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.contentOne, .contentTwo, .contentThree{
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

:where(.contentOne) :is(img){
    width: 15vh;
}

:where(.contentOne) :is(h2){
    color: rgba(73, 67, 67, 0.685);
    font-family: Agency FB;
    letter-spacing: 3px;
}

:where(.contentTwo) :is(p){
    color: rgba(73, 67, 67, 0.685);
    font-family: Agency FB;
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: 1.2rem;
}

:where(.contentTwo) :is(a){
    color: rgba(73, 67, 67, 0.685);
    font-family: Agency FB;
    font-weight: bolder;
    letter-spacing: 3px;
}

:where(.contentThree) :is(img){
    width: 25vh;
    
}

:where(.contentThree) :is(img:hover){
    cursor: pointer;
}

/* This where the styling for section Five start*/

.sectionFive{
    height: 90vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first{
    display: flex;
    justify-content: center;
    align-items: center;
}

.size img{
    width: 50vw;
    height: 50vh;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.507);
}
.size img:hover{
    transition: all 0.6s ease-in-out 0s;
    box-shadow: 1px 1px 10px 4px rgba(48, 46, 46, 0.637);
    cursor: pointer;
}


.text{
    font-family: calibri;
    font-weight: 400;
    font-size: 1.5rem;
    color: #615e5e;
    padding: 1rem;
    text-align: center;
}

.mainText{
    font-size: 2.5rem;
    padding: 0.5rem;
    font-family: calibri;
    color: #2b2929;
}